page {
  background-color: #f8f6fb;
}
.globalScroll {
  height: 100vh;
}
.topContent {
  position: sticky;
  top: 0;
  height: 200px;
  width: 100%;
  z-index: 4;
  background: #fff;
}
.content {
  position: relative;
  display: flex;
  align-items: flex-start;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: #fff;
}
