.menu {
  flex: 1;
  padding: 0 20px 334px;
  .menuItem {
    padding: 32px 0;
    .txt {
      position: relative;
      z-index: 2;
      display: block;
      margin-bottom: 16px;
      color: #1b0726;
      font-size: 24px;
      font-weight: bold;
      line-height: 26px;
    }
    .itemContent {
      max-width: 550px;
      padding-top: 16px;
      .listItem {
        height: 228px;
        border-radius: 16px 40px 40px 40px;
        background: linear-gradient(45deg, #d4c4e6 0, #f1eafb 60%, #eee1fa 100%);
        text-align: center;
        line-height: 228px;
      }
      .listItem:not(:first-child) {
        margin-top: 32px;
      }
    }
  }
  .menuItem:last-child {
    padding-bottom: 0;
  }
}
