.tabBar {
  position: fixed;
  // bottom: constant(safe-area-inset-bottom);
  // bottom: env(safe-area-inset-bottom);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 102px;
  padding-bottom: 74px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0px -2px 6px 0px rgba(232,232,232,1);
  border-radius: 40px 40px 0px 0px;
  .tabBarItem {
    flex: 1;
    text-align: center;
    .txt {
      height: 24px;
      line-height: 24px;
      font-size: 20px;
      margin-top: 6px;
      color: #b091d2
    }
    .active {
      color: #501098
    }
  }
}
